<!--Page Banner Section Start-->
<div class="page-banner-section section section-padding bg-secondary">
  <div class="container">

      <h1 class="page-title h3">Portfolio 3 Columns</h1>
      <ul class="page-breadcrumb">
          <li><a href="index-1.html">Home</a></li>
          <li class="active">Portfolio Gutter Fullwidth 3 Columns</li>
      </ul>

  </div>
</div>
<!--Page Banner Section End-->

<!--Portfolio Section Start-->
<div class="section section-wide section-padding">
  <div class="container-fluid">

      <!--Portfolio Filter(Isotope Filter) Start-->
      <div class="isotope-filter">
          <button data-filter="*">all</button>
          <button data-filter=".web">Web</button>
          <button data-filter=".branding">Branding</button>
          <button data-filter=".graphic">Graphic</button>
      </div>
      <!--Portfolio Filter(Isotope Filter) End-->

      <!--Portfolio Wrapper(Isotope Grid) Start-->
      <div class="isotope-grid row mbn-30">

          <!--Resizer Start-->
          <div class="resizer col-1"></div>
          <!--Resizer End-->

          <!--Portfolio Start-->
          <div class="isotope-item branding col-lg-4 col-sm-6 col-12 mb-30">
              <a href="portfolio-details.html" class="portfolio">
                  <img src="assets/images/portfolio/portfolio-1.jpg" alt="">
                  <div class="content">
                      <h4 class="title">Logo 6</h4>
                      <span class="category">Branding</span>
                  </div>
              </a>
          </div>
          <!--Portfolio End-->

          <!--Portfolio Start-->
          <div class="isotope-item web col-lg-4 col-sm-6 col-12 mb-30">
              <a href="portfolio-details.html" class="portfolio">
                  <img src="assets/images/portfolio/portfolio-2.jpg" alt="">
                  <div class="content">
                      <h4 class="title">Beer Bottle</h4>
                      <span class="category">Web</span>
                  </div>
              </a>
          </div>
          <!--Portfolio End-->

          <!--Portfolio Start-->
          <div class="isotope-item graphic col-lg-4 col-sm-6 col-12 mb-30">
              <a href="portfolio-details.html" class="portfolio">
                  <img src="assets/images/portfolio/portfolio-3.jpg" alt="">
                  <div class="content">
                      <h4 class="title">Paper Bag</h4>
                      <span class="category">Graphic</span>
                  </div>
              </a>
          </div>
          <!--Portfolio End-->

          <!--Portfolio Start-->
          <div class="isotope-item web col-lg-4 col-sm-6 col-12 mb-30">
              <a href="portfolio-details.html" class="portfolio">
                  <img src="assets/images/portfolio/portfolio-4.jpg" alt="">
                  <div class="content">
                      <h4 class="title">Strawberry Cup</h4>
                      <span class="category">Web</span>
                  </div>
              </a>
          </div>
          <!--Portfolio End-->

          <!--Portfolio Start-->
          <div class="isotope-item graphic col-lg-4 col-sm-6 col-12 mb-30">
              <a href="portfolio-details.html" class="portfolio">
                  <img src="assets/images/portfolio/portfolio-5.jpg" alt="">
                  <div class="content">
                      <h4 class="title">Vision Envelope</h4>
                      <span class="category">Graphic</span>
                  </div>
              </a>
          </div>
          <!--Portfolio End-->

          <!--Portfolio Start-->
          <div class="isotope-item branding col-lg-4 col-sm-6 col-12 mb-30">
              <a href="portfolio-details.html" class="portfolio">
                  <img src="assets/images/portfolio/portfolio-6.jpg" alt="">
                  <div class="content">
                      <h4 class="title">Red Cup</h4>
                      <span class="category">Branding</span>
                  </div>
              </a>
          </div>
          <!--Portfolio End-->

          <!--Portfolio Start-->
          <div class="isotope-item graphic col-lg-4 col-sm-6 col-12 mb-30">
              <a href="portfolio-details.html" class="portfolio">
                  <img src="assets/images/portfolio/portfolio-7.jpg" alt="">
                  <div class="content">
                      <h4 class="title">Flyer Mockup</h4>
                      <span class="category">Graphic</span>
                  </div>
              </a>
          </div>
          <!--Portfolio End-->

          <!--Portfolio Start-->
          <div class="isotope-item branding col-lg-4 col-sm-6 col-12 mb-30">
              <a href="portfolio-details.html" class="portfolio">
                  <img src="assets/images/portfolio/portfolio-8.jpg" alt="">
                  <div class="content">
                      <h4 class="title">Arrow Logo</h4>
                      <span class="category">Branding</span>
                  </div>
              </a>
          </div>
          <!--Portfolio End-->

          <!--Portfolio Start-->
          <div class="isotope-item web col-lg-4 col-sm-6 col-12 mb-30">
              <a href="portfolio-details.html" class="portfolio">
                  <img src="assets/images/portfolio/portfolio-9.jpg" alt="">
                  <div class="content">
                      <h4 class="title">Paper Tag</h4>
                      <span class="category">Web</span>
                  </div>
              </a>
          </div>
          <!--Portfolio End-->

      </div>
      <!--Portfolio Wrapper(Isotope Grid) End-->

  </div>
</div>
<!--Portfolio Section End-->