<!--Main Slider Section Start-->
<div class="section main-slider-1 slider-bg-1" style="border: 2px solid purple;">
  <div class="container">

    <!--Main Slider Content Start-->
    <div class="main-slider-content">
      <h2>Welcome to</h2>
      <h1>coffee | metal | code</h1>
      <h2>I’m David Stocker, Technologist</h2>
      <a href="#">Download Resume</a>
    </div>
    <!--Main Slider Content End-->

  </div>
</div>
<!--Main Slider Section End-->

<!--About Section Start-->
<div class="section section-padding" style="border: 2px solid purple;">
  <div class="container">
    <div class="row align-items-center mbn-50">

      <!--Section Title Start-->
      <div class="col-lg-5 col-12" style="border: 2px solid red;">
        <div class="section-title section-title-bg text-left">
          <h2 class="title">Some word’s about me</h2>
          <p class="desc">I’m a UI/UX Designer, who loves clean, simple and unique design. I also enjoy crafting
            brand identities, icons and illustration work.</p>
        </div>
      </div>
      <!--Section Title End-->

      <!--Skill Section Start-->
      <div class="col-lg-7 col-12 mb-50" style="border: 2px solid red;">
        <div class="row justify-content-start justify-content-lg-around mbn-35">

          <!--Skill Start-->
          <div class="col-xl-5 col-sm-6 col-12 mb-35">
            <div class="skill">
              <h6 class="title">Photoshop</h6>
              <div class="progress">
                <div class="progress-bar" data-value="90%"></div>
              </div>
            </div>
          </div>
          <!--Skill End-->

          <!--Skill Start-->
          <div class="col-xl-5 col-sm-6 col-12 mb-35">
            <div class="skill">
              <h6 class="title">After Effect</h6>
              <div class="progress">
                <div class="progress-bar" data-value="75%"></div>
              </div>
            </div>
          </div>
          <!--Skill End-->

          <!--Skill Start-->
          <div class="col-xl-5 col-sm-6 col-12 mb-35">
            <div class="skill">
              <h6 class="title">Illustrator</h6>
              <div class="progress">
                <div class="progress-bar" data-value="82%"></div>
              </div>
            </div>
          </div>
          <!--Skill End-->

          <!--Skill Start-->
          <div class="col-xl-5 col-sm-6 col-12 mb-35">
            <div class="skill">
              <h6 class="title">Indesign</h6>
              <div class="progress">
                <div class="progress-bar" data-value="95%"></div>
              </div>
            </div>
          </div>
          <!--Skill End-->

        </div>
      </div>
      <!--Skill Section End-->

    </div>
  </div>
</div>
<!--About Section End-->

<!--Portfolio Section Start-->
<div class="section section-wide" style="border: 2px solid purple;">
  <div class="container-fluid">

    <!--Portfolio Filter(Isotope Filter) Start-->
    <div class="isotope-filter">
      <button data-filter="*">all</button>
      <button data-filter=".web">Web</button>
      <button data-filter=".branding">Branding</button>
      <button data-filter=".graphic">Graphic</button>
    </div>
    <!--Portfolio Filter(Isotope Filter) End-->

    <!--Portfolio Wrapper(Isotope Grid) Start-->
    <div class="isotope-grid row mbn-30" style="border: 2px solid red;">

      <!--Resizer Start-->
      <div class="resizer col-1"></div>
      <!--Resizer End-->

      <!--Portfolio Start-->
      <div class="isotope-item branding col-lg-4 col-sm-6 col-12 mb-30" style="border: 2px solid blue;">
        <a href="portfolio-details.html" class="portfolio">
          <img src="assets/images/portfolio/portfolio-1.jpg" alt="">
          <div class="content">
            <h4 class="title">Logo 6</h4>
            <span class="category">Branding</span>
          </div>
        </a>
      </div>
      <!--Portfolio End-->

      <!--Portfolio Start-->
      <div class="isotope-item web col-lg-4 col-sm-6 col-12 mb-30" style="border: 2px solid blue;">
        <a href="portfolio-details.html" class="portfolio">
          <img src="assets/images/portfolio/portfolio-2.jpg" alt="">
          <div class="content">
            <h4 class="title">Beer Bottle</h4>
            <span class="category">Web</span>
          </div>
        </a>
      </div>
      <!--Portfolio End-->

      <!--Portfolio Start-->
      <div class="isotope-item graphic col-lg-4 col-sm-6 col-12 mb-30" style="border: 2px solid blue;">
        <a href="portfolio-details.html" class="portfolio">
          <img src="assets/images/portfolio/portfolio-3.jpg" alt="">
          <div class="content">
            <h4 class="title">Paper Bag</h4>
            <span class="category">Graphic</span>
          </div>
        </a>
      </div>
      <!--Portfolio End-->

      <!--Portfolio Start-->
      <div class="isotope-item web col-lg-4 col-sm-6 col-12 mb-30" style="border: 2px solid blue;">
        <a href="portfolio-details.html" class="portfolio">
          <img src="assets/images/portfolio/portfolio-4.jpg" alt="">
          <div class="content">
            <h4 class="title">Strawberry Cup</h4>
            <span class="category">Web</span>
          </div>
        </a>
      </div>
      <!--Portfolio End-->

      <!--Portfolio Start-->
      <div class="isotope-item graphic col-lg-4 col-sm-6 col-12 mb-30" style="border: 2px solid blue;">
        <a href="portfolio-details.html" class="portfolio">
          <img src="assets/images/portfolio/portfolio-5.jpg" alt="">
          <div class="content">
            <h4 class="title">Vision Envelope</h4>
            <span class="category">Graphic</span>
          </div>
        </a>
      </div>
      <!--Portfolio End-->

      <!--Portfolio Start-->
      <div class="isotope-item branding col-lg-4 col-sm-6 col-12 mb-30" style="border: 2px solid blue;">
        <a href="portfolio-details.html" class="portfolio">
          <img src="assets/images/portfolio/portfolio-6.jpg" alt="">
          <div class="content">
            <h4 class="title">Red Cup</h4>
            <span class="category">Branding</span>
          </div>
        </a>
      </div>
      <!--Portfolio End-->

      <!--Portfolio Start-->
      <div class="isotope-item graphic col-lg-4 col-sm-6 col-12 mb-30" style="border: 2px solid blue;">
        <a href="portfolio-details.html" class="portfolio">
          <img src="assets/images/portfolio/portfolio-7.jpg" alt="">
          <div class="content">
            <h4 class="title">Flyer Mockup</h4>
            <span class="category">Graphic</span>
          </div>
        </a>
      </div>
      <!--Portfolio End-->

      <!--Portfolio Start-->
      <div class="isotope-item branding col-lg-4 col-sm-6 col-12 mb-30" style="border: 2px solid blue;">
        <a href="portfolio-details.html" class="portfolio">
          <img src="assets/images/portfolio/portfolio-8.jpg" alt="">
          <div class="content">
            <h4 class="title">Arrow Logo</h4>
            <span class="category">Branding</span>
          </div>
        </a>
      </div>
      <!--Portfolio End-->

      <!--Portfolio Start-->
      <div class="isotope-item web col-lg-4 col-sm-6 col-12 mb-30" style="border: 2px solid blue;">
        <a href="portfolio-details.html" class="portfolio">
          <img src="assets/images/portfolio/portfolio-9.jpg" alt="">
          <div class="content">
            <h4 class="title">Paper Tag</h4>
            <span class="category">Web</span>
          </div>
        </a>
      </div>
      <!--Portfolio End-->

    </div>
    <!--Portfolio Wrapper(Isotope Grid) End-->

  </div>
</div>
<!--Portfolio Section End-->

<!--Testimonial Section Start-->
<div class="section section-padding" style="border: 2px solid purple;">
  <div class="container">
    <div class="row align-items-center mbn-50">

      <!--Section Title Start-->
      <div class="col-lg-5 col-12">
        <div class="section-title section-title-bg text-left">
          <h2 class="title">I love my client’s</h2>
          <p class="desc">Here is what my client’s say about me and my work. I love my client’s and love to work
            with them.</p>
        </div>
      </div>
      <!--Section Title End-->

      <!--Testimonial Slider Start-->
      <div class="col-lg-7 col-12 d-flex flex-wrap mb-50" style="border: 2px solid red;">
        <div class="testimonial-slider">

          <!--Testimonial Start-->
          <div class="testimonial" style="border: 2px solid blue;">
            <div class="inner">

              <div class="author">
                <img src="assets/images/testimonial/testimonial-1.jpg" alt="">
                <div class="info">
                  <h5 class="name">Edward Ortiz</h5>
                  <span class="title">Designer / Photographer</span>
                </div>
              </div>
              <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit tempora nostrum ex unde illo est
                  quam aliquid rem molestias iusto.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi ipsa, explicabo eius pariatur.
                </p>
              </div>

            </div>
          </div>
          <!--Testimonial End-->

          <!--Testimonial Start-->
          <div class="testimonial" style="border: 2px solid blue;">
            <div class="inner">

              <div class="author">
                <img src="assets/images/testimonial/testimonial-2.jpg" alt="">
                <div class="info">
                  <h5 class="name">Judy Murphy</h5>
                  <span class="title">Front-End Developer</span>
                </div>
              </div>
              <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit tempora nostrum ex unde illo est
                  quam aliquid rem molestias iusto.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi ipsa, explicabo eius pariatur.
                </p>
              </div>

            </div>
          </div>
          <!--Testimonial End-->

        </div>
        <div class="testimonial-arrows"></div>
      </div>
      <!--Testimonial Slider End-->

    </div>
  </div>
</div>
<!--Testimonial Section End-->